{% extends "base.html" %}
{% block content %}

<head>
  <link rel="stylesheet" href="{{url_for('static', filename='styles/gallery.css')}}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width-device-width, initial-scale-1.0">
</head>

<body>
  <div class="gallery">

    {% for item in inventory: %}

    <div class="card">
      <p>{{item.name}}</p>

      <a href="{{ url_for('product') }}?id={{ item.id }}">
        <img src="{{url_for('static', filename=item.imagePath)}}" class="p" alt="productImage">
      </a>
    </div>


    {% endfor %}

  </div>
</body>
{% endblock %}