{% extends "base.html" %}
{% block content %}

{% for item in inventory: %}
<a href="{{ url_for('product') }}?id={{ item.id }}">{{ item.name }}</a>

<a href="{{ url_for('product') }}?id={{ item.id }}"> <img src="{{url_for('static', filename=item.imagePath)}}"class="p" alt="productImage" style="width:100%;"> </a>

{% endfor %}

<!-- {% if seed_type == "flower" %}
        <div class="bottom">
          <div class="products">
            <div class="product-1">
              <a href="{{ url_for('product') }}?id={{ item.id }}">{{ item.name }}</a>
                    <img src="{{url_for('static', filename='images/giveMeImage.png')}}"class="p" alt="product-1"></a></div>
     
            <div class="product-2">
                <a href="{{ url_for('product2') }}">
                    <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-2"></a></div>
         
            <div class="product-3">
                <a href="{{ url_for('product3') }}">
                    <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-3"></a></div>
  
          </div>
        </div>
      
{% elif seed_type == "vegetable" %}
  <div class="bottom">
    <div class="products">
      <div class="product-1">
          <a href="{{ url_for('product1') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}"class="p" alt="product-1"></a></div>

      <div class="product-2">
          <a href="{{ url_for('product2') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-2"></a></div>
  
      <div class="product-3">
          <a href="{{ url_for('product3') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-3"></a></div>


    </div>
  </div>


{% elif seed_type == "fruit" %}
  <div class="bottom">
    <div class="products">
      <div class="product-1">
          <a href="{{ url_for('product1') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}"class="p" alt="product-1"></a></div>

      <div class="product-2">
          <a href="{{ url_for('product2') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-2"></a></div>

      <div class="product-3">
          <a href="{{ url_for('product3') }}">
              <img src="{{url_for('static', filename='images/giveMeImage.png')}}" class="p" alt="product-3"></a></div>

    </div>
  </div>

{% endif %} -->
{% endblock %}