{% extends "base.html" %}


{% block content %}
    <div class="container-xxl">
        <div class="row justify-content-center">
            <div class="col-5"><img src="{{url_for('static', filename='images/strawberry.jpg')}}"></div>  
            <div class="col-5"><b>Description:</b><br>
                Fresca strawberry seeds are so tiny it's hard to believe that these miniature seeds produce big, 
                mouthwatering traditional strawberries. Start the seeds indoors during the winter and place the seedlings out after the last frost. 
                While they may not produce much fruit the first year, these sprawling plants will eventually yield heavily over a long season. 
                They are considered everbearing, and will flower over and over if plants are kept picked. This strawberry is ideal for containers, raised beds, or hanging baskets. 
                For fruits the first year, give them a really early start in December or January. Follow the growing instructions below, and then grow the seedlings on under bright artificial lights.
            </div>  
        </div>
        <div class="row justify-content-center">
            <div class="col-5"> 
                <hr>
                <h3>How To Grow</h3>
                <ul class="list-unstyled">
                    <li><b>Step 1</b>
                        <ul>
                            <li>Do This...</li>
                            <li>Do That...</li>
                        </ul>
                    </li>
                    <li><b>Step 2</b>
                        <ul>
                            <li>Do This...</li>
                            <li>Do That...</li>
                        </ul>
                    </li>
                    <li><b>Step 3</b>
                        <ul>
                            <li>Do This...</li>
                            <li>Do That...</li>
                        </ul>
                    </li>
                    <li><b>Step 4</b>
                        <ul>
                            <li>Do This...</li>
                            <li>Do That...</li>
                        </ul>
                    </li>
                </ul>
            </div>  
            <div class="col-5">
                <table class="table table-striped table-secondary table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1 Package (10 seeds)</th>
                        <td>$9.99</td>
                        <td><select class="form-select" aria-label="quantity">
                            <option selected value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="3">4</option>
                            <option value="3">5</option>
                            <option value="3">6</option>
                            <option value="3">7</option>
                            <option value="3">8</option>
                            <option value="3">9</option>
                          </select>
                        </td>
                      </tr>
                     
                     
                    </tbody>
                  </table>
                  <button type="submit" class="btn btn-secondary btn-lg">Add to Cart</button>
            </div>  
    </div>
    </div>
{% endblock %}

