{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">
</head>

<body>
    <main>
        <div class="auth-class">
            <h1>Register</h1>
            <form class="sleek-input" action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password2.label }}<br>
                    {{ form.password2(size=32) }}<br>
                    {% for error in form.password2.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p class="buitton-class">{{ form.submit() }}</p><br>
            </form>
            <p>Already a User? <a class="nav-link" href="{{ url_for('login') }}">Login Here!</a></p>
    </main>
</body>
</div>
{% endblock %}