{% extends "base.html" %}
{% block content %}
<main>
    <div class="order">
        <div class="header">Cart</div>
        <div>N</div>
        <div>Description</div>
        <div>Price, $</div>
        <div>Quantity</div>
        <div>Cost, $</div>
        <div class="option"></div>

        {% for item in members: %}
        <div>{{ item.n }}</div>
        <div>{{ item.name }}</div>
        <div>{{ item.price }}</div>
        <div><input type="number" value={{ item.qty }} min="1" class="quantity-field"></div>
        <div>{{ item.cost }}</div>
        <div>
            <button class="btnRemove">Remove</button>
        </div>
        {% endfor %}

        <div class="total">
            <div>Total</div>
            <div>
                <button class="btnCheckout">Checkout</button>
            </div>
        </div>


    </div>
</main>
{% endblock %}