<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename='styles/checkout.css')}}>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <div class = top> 
        <img class="left" width='auto' height='100' src="{{url_for('static', filename='image/Sprout-Logo.png')}}" alt="sprout">
        <img class="right" width='auto' height='50' src="{{url_for('static', filename='image/cart-01.png')}}" alt="cart">
    </div>
    <main>
        <b><div class="header">Checkout</div></b>
        <div class="order">            
            <input class="firstname" type="text" id="fname" name="firstname" placeholder="First name" required>      
            <input class="lastname" type="text" id="flname" name="lastname" placeholder="Last name" required>
            <select id="payment" name= "payment">
                <option value="creditcardVisa">Credit card(VISA)</option>
                <option value="creditcardMasterCard">Credit card(Master Card)</option>
                <option value="debitVisa">Debit(VISA)</option>
                <option value="debitMasterCard">Debit(Master Card)</option>
                <option value="paypal">Paypal</option>
            </select>
            <input class="address" type="text" id="address" name="address" placeholder="1211-527 Carnarvon st., New Westminster" required>
            <input class="postalcode" type="text" id="PC" name="postalcode" placeholder="V3L4Y1" required>
            <div class="submit">
                <button class="btnSubmit">Submit</button>
            </div>
        </div>

    </main>
</body>