body{
    background-color: #c9ffd0;
}
img{
    margin-left:auto;
    margin-top:auto;
}
.order{
    background-color: #95c7b1;
    border: #00ba00 5px solid;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap:1em;
}

.order > .header {
    background-color: #cfd8dc;
    grid-column: span 6;
    text-align: center;
}


.order > .total {
    grid-column: span 6;
    justify-self: center;
    padding: 10px
}
button{
    background-color: #cfd8dc;
}
.order > div{
    background-color: #cfd8dc;
    grid-column-gap: 1em;
    grid-row-gap:1em;
}
.option{
    visibility:hidden;
}
.summary{
    display:grid;

}
/* .order{
    float:left;
}
.summary{
    float:right;
}
.order >h1{grid-column: header;}
.discription{grid-area:main;}
.price{grid-area:right;}
.quantity{grid-area:menu;}
.remove{grid-area:footer;}

.order> div{
    display:grid;

    grid-template-areas: 
        'header header header header header'
        'main main main menu right'
        'footer footer footer footer footer';
} */