body{
    background-color: #c9ffd0;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right {
    justify-self: right;
}
.left {
    justify-self: left;
}
.header{
    text-align: center;
    color: #7b8d93;
}

.order{
    background-color: #95c7b1;
    border:#00ba00 5px solid;
    margin-top: 2%;
    margin-left:35%;
    margin-right: 35%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap:1em;
    grid-row-gap:1em;
}
.submit{
    background-color: #cfd8dc;
    justify-self: center;
}
input{
    background-color: #cfd8dc;
}
select{
    background-color: #cfd8dc;
}